.darkBg {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: #2c3e50;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modalContent {
  font-size: 14pt;
  font-weight: bold;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.logOutBtn,
.cancelBtn {
  cursor: pointer;
  font-weight: 500;

  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  transition: all 0.25s ease;
}

.logOutBtn {
  color: #fff;
  background: #ff3e4e;
  margin-right: 10px;
}

.logOutBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
}

.cancelBtn {
  color: #fcfcfc;
  background: #2c3e50;
  margin-left: 10px;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: translateY(-5px);
}
